.Polygon {
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
}

.BackgroundImage {
    background-image: url(./BackgroundImage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.BorderImage {
    border-image: 1 round url(./Borderimage.png);
    -webkit-border-image: 20 url(./Borderimage.png);
}